<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon.jpg">

  <title>~ About ~</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portImg" src="/img/profile_Billy5.jpg" alt="">
  </div>
  {{>footer}}


</body>

</html>